@model BeerTasters.Common.RatingDTO
@{
    ViewBag.Title = "BeerRatingView";
}

<h2>BeerRatingView</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BeerRatingViewModel</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div>
                    @Html.HiddenFor(model => model.beerid)
                </div>

                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.userrating, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.userrating, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.comment, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


