@model BeerTasters.Common.BeerWithRatingsDTO

@{
    ViewBag.Title = "Beer With Ratings View";
}

<h2>BeerDataEntryView</h2>

<div>
    <h4>BeerDataEntry</h4>
    <div>
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.HiddenFor(model => model.id)
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div>
                    @Html.DisplayFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                </div>
                <div>
                    @Html.DisplayFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div>
                Comments Here
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
