@model IEnumerable<BeerTasters.Common.BeerDTO>

@{
    ViewBag.Title = "PunkView";
}

<h2>PunkView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th><th>Name</th><th>Description</th><th>TagLine</th><th>Image URL</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td> @Html.DisplayFor(model => model.id)</td>
    <td> @Html.DisplayFor(model => model.name)</td>
    <td> @Html.DisplayFor(model => model.description)</td>
    <td> @Html.DisplayFor(model => model.tagline)</td>
    <td> @Html.DisplayFor(model => model.image_url)</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
